<h1><%= @user.username %></h1>
<div class="container">
  <% if current_user %>
    <% unless @user == current_user %>
      <% if current_user.follows.include?(@user) %>
        <%= link_to "Unfollow", @user.followings & current_user.followeds,
          :method => :delete,
          :class => "btn btn-large btn-danger" %>
      <% else %>
        <%= link_to "Follow", followings_path(:follow => @user.id),
          :method => :post,
          :class => "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h3>Following</h3>
      <ul class="nav nav-tabs nav-stacked">
        <% @user.follows.each do |f| %>
          <li><%= link_to f.username, f.username %></li>
        <% end %>
      </ul>
    </div>
    <div class="span6">
      <h3>Followers</h3>
      <ul class="nav nav-tabs nav-stacked">
        <% @user.followers.each do |f| %>
          <li><%= link_to f.username, f.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
