<p><strong>Title:</strong> <%= @feed.title %></p>
<p><strong>URL:</strong> <%= @feed.url %></p>
<p><strong>Feed URL:</strong> <%= @feed.feed_url %></p>
<p><strong>Last Modified:</strong> <%= @feed.last_modified %></p>
<p><strong>etag:</strong> <%= @feed.etag %></p>

<div class="well content">
  <% @stories.each do |story| %>
    <p><strong>Title:</strong> <%= link_to story.title, story.url %></p>
    <div class="well">
      <p><strong>Author:</strong> <%= story.author %></p>
      <p><strong>Published:</strong> <%= story.published %></p>
      <div class="well">
        <%= story.content %>
      </div>
    </div>
  <% end %>
</div>
